= turbo_frame_tag "modal" do
	.container-fluid#sections
		.row
			.col-md-12
				.card
					%h4 Chapter Footnote
					.modal-body
						= render 'section_footnotes/form', section_footnote: @section_footnote