.fixed-side-navbar
  %ul.nav.flex-column
    %li.nav-item
      %a.nav-link{:href => "#home"}
        %span Intro
    %li.nav-item
      %a.nav-link{:href => "#about"}
        %span About
    %li.nav-item
      %a.nav-link{:href => "#novel"}
        %span Novel
    %li.nav-item
      %a.nav-link{:href => "#quotes"}
        %span Quotes        
    %li.nav-item
      %a.nav-link{:href => "#contact-us"}
        %span Contact
#home.parallax-content.baner-content
  .container
    .first-content
      %h1 Ben M Curry
      %span Author
      .primary-button
        %a{:href => "#about"} Discover More
#about.service-content
  .container
    .row
      .col-md-5
        .left-text
          %h4 More About Ben M Curry
          .line-dec
          %p I am an aspiring author in the middle of the second draft of my first novel. During the day-time I work as an Internet Application Developer. I reside in the United States but I am a world traveler and lived in Malaysia for ten years during my earlier adulthood.
          %p I have a passion for Science Fiction. Details of my current work is available below.
          %p
            Please share my
            %a{:href => "https://www.benmcurry.com", :rel => "nofollow"} website
            with your friends or collegues. Thank you.
      .col-md-7
        .row
          .col-md-12
            .service-item
              = image_tag "author.jpg",  class: "author-img"
#novel.tabs-content
  .container
    .row
      .col-md-6
        .row
          .col-md-12
            .service-item
              = image_tag "book.png"    
      .col-md-6
        .left-text
          %h4 The Science of Miracles
          .line-dec
          %p Paxxa was abducted by extraterrestrials as a toddler and taken to be raised in the culture of the Raquesti. Paxxa will return to earth as a emissary for the alien culture. Paxxa’s mission is to teach Raquesti science to the people of earth in the hope of recreating knowledge the Raquesti lost in a devastating war.
          %p Greg Macsen is a former physics professor with a theory of hyper-dimensional energy.  A totalitarian regime has forced him to work in a secret weapons laboratory.  He has been broken by the sadistic head of national security who is using the memory of his ex-girlfriend to taunt him.
          %p Greg is rescued and meets Paxxa in the sanctuary of an underground resistance movement. Together they  create a device that can help the resistance battle the corrupt government. What will happen when the government tries to thwart their plans?

          

= render "quotes"               

#contact-us.parallax-content.contact-content
  .container
    .row
      .col-md-3
      .col-md-6

        .contact-form.service-item
          .row
            %h4 Contact Me
            =simple_form_for :contact, url: contact_path, remote: true, html: {class: "my_form", id: "contact",  role: "form"} do |f|
              .row
                .col-md-12
                  %fieldset
                    =f.input :name, class:"form-control", placeholder: "Your name...",  required: true, label: false
                .col-md-12
                  %fieldset
                    =f.input :email, class:"form-control", as: :email, placeholder: "Your email...",  required: true, label: false
                .col-md-12
                  %fieldset
                    =f.input :message, class:"form-control",  placeholder: "Your message...",  required: true, label: false
                .col-md-12
                  %fieldset
                    %button#form-submit.btn{:type => "submit"} Send Message
                    #snackbar
%footer
  .container
    .row
      .col-md-12
        .primary-button
          %a{:href => "#home"} Back To Top
        %p
          Copyright © #{Time.now.year} Ben M Curry
          
          \- Design:
          %a{:href => "https://templatemo.com", :rel => "nofollow noopener"}
            %em TemplateMo

