.fixed-side-navbar
  %ul.nav.flex-column
    %li.nav-item
      %a.nav-link{:href => "#home"}
        %span Intro
    %li.nav-item
      %a.nav-link{:href => "#about"}
        %span About
    %li.nav-item
      %a.nav-link{:href => "#novel"}
        %span Novel
    %li.nav-item
      %a.nav-link{:href => "#quotes"}
        %span Quotes        
    %li.nav-item
      %a.nav-link{:href => "#contact-us"}
        %span Contact
#home.parallax-content.baner-content
  .container
    .first-content
      %h1 Ben M Curry
      %span Novelist
      .primary-button
        %a{:href => "#about"} Discover More
#about.service-content
  .container
    .row
      .col-md-5
        .left-text
          %h4 More About Ben M Curry
          .line-dec
          %p I am an aspiring author in the middle of the second draft of my first novel. During the day-time I work as an Internet Application Developer. I reside in the United States but I am a world traveler and lived in Malaysia for ten years during my earlier adulthood.
          %p I have a passion for Science Fiction. Details of my current work is available below.
          %p
            Please share my
            %a{:href => "https://www.benmcurry.com", :rel => "nofollow"} website
            with your friends or collegues. Thank you.
      .col-md-7
        .row
          .col-md-12
            .service-item
              = image_tag "author.jpg",  class: "author-img"
#novel.parallax-content.tabs-content
  .container
    .row
      .col-md-6
        .row
          .col-md-12
            .service-item
              = image_tag "book.png"    
      .col-md-6
        .left-text
          %h4 The Science of Miracles
          .line-dec
          %p A toddler and family are abducted by extraterrestrials for the purpose of raising the child in an alien culture.

          %p A fleet of UFOs appears to menace the population of earth. The social, political, financial anomie that follows prompts a revolution against a government that has become a kleptocracy.

          %p The revolution becomes a totalitarian regime. Those who do not join the one political party are marginalized.

          %p The grown-up toddler returns to earth to share alien knowledge. The government takes credit for the sharing with the alien race and promotes the alien as an affirmation of the government's legitimacy.

          %p The alien becomes disillusioned with the government and seeks refuge with an underground resistance movement, taking advantage to disseminate the alien knowledge through the resistance’s network.

          

= render "quotes"               

#contact-us.parallax-content.contact-content
  .container
    .row
      .col-md-3
      .col-md-6
        .contact-form
          .row
            =simple_form_for :contact, url: contact_path, remote: true, html: {class: "my_form", id: "contact",  role: "form"} do |f|
              .row
                .col-md-12
                  %fieldset
                    =f.input :name, class:"form-control", placeholder: "Your name...",  required: true, label: false
                .col-md-12
                  %fieldset
                    =f.input :email, class:"form-control", as: :email, placeholder: "Your email...",  required: true, label: false
                .col-md-12
                  %fieldset
                    =f.input :message, class:"form-control",  placeholder: "Your message...",  required: true, label: false
                .col-md-12
                  %fieldset
                    %button#form-submit.btn{:type => "submit"} Send Message
                    #snackbar
%footer
  .container
    .row
      .col-md-12
        .primary-button
          %a{:href => "#home"} Back To Top
        %p
          Copyright © 2021 Ben M Curry
          
          \- Design:
          %a{:href => "https://templatemo.com", :rel => "nofollow noopener"}
            %em TemplateMo

