.container
	%h1 Maint Menu

	%ul
		%li Psalm 37:3 "Trust in the Lord and do good."
		%li This is a simple statement of religion. You need nothing more.
		%li I believe our purpose is to "do good". What it means to "do good" must be learned. That is why we exist, to learn how to "do good"
		%li We choose what we believe. Faith is trusting what we believe. Faith is the source of miracles.
		%li How does one go from faith to miracle? This requires an understanding of the mechanics/structure of our universe.
		%li Our universe consists of multiple dimensions
		%li Our Reality
		%li Higher Reality
		%li Hyperphysical Energy
