.container
	%h1 Maint Menu
	%h2 Psalm 37:3 "Trust in the Lord and do good."
	%h3 This is a simple statement of religion. You need nothing more.
	%ul.h4
		%li I believe our purpose is to "do good". What it means to "do good" must be learned. That is why we exist, to learn how to "do good"
		%li We choose what we believe. Faith is trusting what we believe. Faith is the source of miracles.
		%li How does one go from faith to miracle? This requires an understanding of the mechanics/structure of our universe.
		%li Our universe consists of multiple dimensions
		%li Our Reality
		%li Higher Reality
		%li Hyperphysical Energy from the Higher Reality creates and sustains Our Reality (Holographic Theory)
		%li Is visualization is how to use Faith to manipulate Our Reality? For a long time people have said that the way to mainfest what you want is to vizualize it happening.
