.container-fluid#sections
	.row
		.col-md-12
			.card
				= link_to workbook_path(story_id: @section.story_id) do 
					%i.bi.bi-list
				%h3 Edit Chapter
				= turbo_frame_tag @section do
					= render 'form', section: @section