.container-fluid#sections
	.row
		.col-md-12
			.card
				= link_to sanitize("&larr; Workbook"), workbook_path(story_id: @section.story_id)
				%h3 New Chapter
				= turbo_frame_tag @section do
					= render 'form', section: @section
