.container-fluid#sections
  .row
    .col-md-2
    .col-md-8.scroller-container.rounded
      .section-page{id: "chapter-#{@section.id}", data:{page: @section.id}}
        .row
          .col-md-12
            %h3.center
              =@section.title
        .row
          .col-md-12
            .section-sample
              =@section.body.to_s.html_safe
    .col-md-2
      .fixed-side-navbar
        %ul.nav.flex-column
          %li.nav-item
            = link_to "Home", root_path, class: "nav-link"