- content_for :head do
  = javascript_import_module_tag "wikis"

.container-fluid#workbook
  %nav.navbar.navbar-fixed-top{style: "top:52px;"}
    .sidebar-date.pull-right
      Today is #{DateTime.now.in_time_zone('Indiana (East)').to_formatted_s(:stardate)}   
      %i.bi.bi-chevron-right.sidebar-toggle{"aria-hidden" => "false", "data-placement" => "left", "data-toggle" => "tooltip", title: "Show/Hide Sidebar."}
  .row#row-main
    .col-md-10#main
      = render "list"
    .col-md-2#mySidenav
      = render "sidebar"    