- if notice.present?
  %aside.alert.alert-info.alert-dismissible{:role => "alert"}
    %button.close{"aria-hidden" => "true", "aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      %i.glyphicon.glyphicon-remove-circle{"aria-hidden" => "false"}
    = notice
- if alert.present?
  %aside.alert.alert-warning.alert-dismissible{:role => "alert"}
    %button.close{"aria-hidden" => "true", "aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      %i.glyphicon.glyphicon-remove-circle{"aria-hidden" => "false"}
    = alert
