!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "Author Science Fiction Novel", :name => "keywords"}/
    %meta{:content => "Author of The Science of Miracles", :name => "description"}/
    %meta{:content => "Ben M Curry", :name => "author"}/

    %title Ben M Curry
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Rokkitt:300,400,600,700,800", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Syncopate:300,400,600,700,800", :rel => "stylesheet"}/
    %link{:href => "apple-touch-icon.png", :rel => "apple-touch-icon"}/        
  %body
    = yield

